/*:root {
    --primary-text-color: rgba (0, 0, 0, 0.8) --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-white-color: #ffffff;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}/
*/

body {
    font-family: Roboto, Raleway, sans-serif;
    color: #212121;
    font-size: 14px
}

/*.logo,
.site-nav,
.nav-link,
.mail,
.phone,
.address {
    text-decoration: none;
}*/



.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo-accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.mail:hover,
.mail:focus {
    color: #2196F3;
}

.button:hover,
.button:focus {
    background-color: #188ce8;
    color: #FFFFFF;
}

.navigation-link:hover,
.navigation-link:focus {
    background-color: #188ce8;
    color: #FFFFFF;
}


/*.site-nav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2196F3;
}

.nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
}

.phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}*/

.section-list {
    text-transform: uppercase;
}

/*.lihk a {
    text-decoration: none;
}


.test-link {
    color: black;
}